/* --------------------------------------------------------------

Stratus 0.1.0
Author: Matthew McAdams
Author URI: https://mattmcadams.com/
License: MIT License 2019
License URI: https://github.com/MattMcAdams/stratus/blob/master/LICENSE
Documentation: https://github.com/MattMcAdams/stratus/wiki

-----------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------

-------------------------------------------------------------- */
.grid {
  --grid-gap: s(1);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: var(--grid-gap); }

@media (min-width: 500px) {
  .column-2-max {
    grid-template-columns: repeat(2, 1fr); }
  .span-2 {
    grid-column: span 2; } }

@media (min-width: 700px) {
  .column-3-max {
    grid-template-columns: repeat(3, 1fr); }
  .span-3 {
    grid-column: span 3; } }

@media (min-width: 900px) {
  .column-4-max {
    grid-template-columns: repeat(4, 1fr); }
  .span-4 {
    grid-column: span 4; } }

@media (min-width: 1100px) {
  .column-5-max {
    grid-template-columns: repeat(5, 1fr); }
  .span-5 {
    grid-column: span 5; } }

@media (min-width: 1300px) {
  .column-6-max {
    grid-template-columns: repeat(6, 1fr); }
  .span-6 {
    grid-column: span 6; } }

@media (orientation: landscape) and (min-width: 500px) {
  .span-2-landscape {
    grid-column: span 2; } }

/*--------------------------------------------------------------
END STRATUS
--------------------------------------------------------------*/
