// ===========================================================================
// SECTION MEDIA QUERIES
// Utility mixins to help you write cleaner, easier to read CSS
// ===========================================================================

@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';

@use '../../dist/config';

/// --------------------------------------------------------------------------
/// Orientation Media Query
/// Creates a media query based on screen rotation / orientation
/// @group responsive
/// @author Matthew McAdams
///
/// @param {keyword['portrait' | 'landscape']} $oriendation ['portrait']
/// --------------------------------------------------------------------------
@mixin orientation(
  $orientation: 'portrait'
  ) {
  @if $orientation == 'landscape' {
    @media (orientation: landscape) { @content; }
  }
  @else if $orientation == 'portrait' {
    @media (orientation: portrait) { @content; }
  }
}

/// --------------------------------------------------------------------------
/// Get Breakpoint
/// resolves input breakpoint to a number
/// @group responsive
/// @author Matthew McAdams
///
/// @requires meta.type-of (sass:meta)
/// @requires map.has-key (sass:map)
/// @requires map.get (sass:map)
/// @requires config.$breakpoints (config.scss)
///
/// @arg {number | key(config.$breakpoints)} $key
/// @param {map} $map [config.$breakpoints]
/// @returns {number}
/// --------------------------------------------------------------------------
@function get-breakpoint(
  $key,
  $map: config.$breakpoints
  ) {
  @if meta.type-of($key) == number { @return $key; }
  @if map.has-key($map, $key) { @return map.get($map, $key); }
  @else { @return $key; }
}

/// --------------------------------------------------------------------------
/// Media Query Mixin
/// @group responsive
/// @author Matthew McAdams
///
/// @requires string.index (sass:string)
/// @requires get-breakpoint
/// @requires orientation
///
/// @arg {key[config.$breakpoints] | keyword[landscape, portrait] | number } $input
/// Sets the media query orientation or width
/// @param {keyword[min, max]} $direction [min] - used as #{$direction}-width to detect screen size
/// --------------------------------------------------------------------------
@mixin media(
  $breakpoint,
  $direction: min
  ) {
  // See if the breakpoint pertains to orientation
  @if string.index('portrait landscape', $breakpoint) {
    @include orientation($breakpoint);
  } @else {
    $query-size: get-breakpoint($breakpoint);
    @media (#{$direction}-width: $query-size) { @content; }
  }
}

// END !SECTION MEDIA QUERIES
