// ==========================================================================
// SECTION STRUCTURE
// Custom measurement unit, set to 1 line height by default to help
// establish vertical rhythm
// ==========================================================================

@use 'typography' as type;
@use '../core/' as stratus;
@use '../../dist/config';

$config-lh-unit: type.line-height(0) !default;
$config-sp-unit: config.$space-unit-size !default;
$config-ms-unit: config.$default-ratio !default;

/// --------------------------------------------------------------------------
/// Line Height Unit
/// Use the base line height to calculate measurements
/// @group structure
/// @author Matthew McAdams
///
/// @requires type.line-height (typography.scss)
///
/// @arg {number(unitless)} $input
/// @param {number(with-unit)} $line-height
///
/// @returns {number} `$line-height` times `$input`
/// --------------------------------------------------------------------------
@function lh(
  $input,
  $line-height: $config-lh-unit
) {
  @return ($line-height * $input);
}

/// --------------------------------------------------------------------------
/// Custom Space Unit
/// function to create a general unit of measurement for spacing
/// @group structure
/// @author Matthew McAdams
///
/// @requires $config-sp-unit (config.scss)
/// @requires lh
///
/// @arg {number(unitless)} $input
/// @param {number(with-unit) | 'auto'} $size
///
/// @returns {number} `$size` times `$input`
/// --------------------------------------------------------------------------
@function sp(
  $input,
  $size: $config-sp-unit
) {
  @if $size == auto { @return lh($input); }
  @return ($size * $input);
}

/// --------------------------------------------------------------------------
/// Modular Scale Unit
/// function to get an `em` value based on the modular scale
/// @group structure
/// @author Matthew McAdams
///
/// @requires stratus.modular-scale (core)
///
/// @arg {number(unitless)} $input
///
/// @returns {number} `$size` times `$input`
/// --------------------------------------------------------------------------
@function ms(
  $input,
  $ratio: $config-ms-unit
) {
  @return stratus.modular-scale($input, 1em, $ratio);
}
// END !SECTION STRUCTURE
