@include test-module('position: cover') {
  @include test('outputs correct css') {
    @include assert {
      @include output {
        @include position-cover;
      }
      @include expect {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
