
@use 'true';
@use '../../dist/config' with (
  $space-unit-size: 5px,
  $default-ratio: 1.5,
  $line-height: 1.5,
  $rem-size: 10px,
  $text-size: 15px,
  $type-unit: 'rem',
  $use-vertical-rhythm: true
);
@use '../../src/partials/structure' as stratus;

// true font size would be 1.5rem
// true line height would be 2.25rem

// sp($input, $size)
// ===========================================================================
@include true.test-module('sp [function]') {
  @include true.test('sp() calculates correct measurement with input') {
    $test: stratus.sp(5);
    $expected: 25px;
    @include true.assert-equal($test, $expected);
  }
}

// lh($input, $line-height)
// ===========================================================================
@include true.test-module('lh [function]') {
  @include true.test('lh() calculates correct measurement with input') {
    $test: stratus.lh(5);
    $expected: 11.25rem;
    @include true.assert-equal($test, $expected);
  }
}

// ms($input, $ratio)
// ===========================================================================
@include true.test-module('ms [function]') {
  @include true.test('ms() calculates correct measurement with input') {
    $test: stratus.ms(3);
    $expected: 3.375em;
    @include true.assert-equal($test, $expected);
  }
}
